* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

/* ------ punto2 ------ */
.converter-div {
    display: flex;
    align-items: center;
    padding-top: 5%;
}

form.converter {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    color: rgb(84, 84, 84);
    padding: 5%;
}

form.converter > div {
    display: flex;
    gap: 0.5rem;
}

form.converter input {
    border: none;
    border-right: 1px solid gray;
    background-color: darkgray;
}

form.converter input:focus {
    background-color: lightgray;
}

/* ------ punto3 ------ */

.keep {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/*for filters*/
.realizadas {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    flex-direction: column;

    width: 60%;
}

/*main container*/
.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 162);
    padding: 2%;
    gap: 0.5rem;
}

.cards .card {
    margin-bottom: 10px;
    min-height: 25vh;
}


.btn-keep {
    background-color: rgb(255, 255, 120);
    color: black;
    border: transparent;
    border-radius: 10%;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.form-check-input:checked[type=checkbox]  {
    background-color: gold;
    border-color: lightgray;
}

/*form*/
.container-note {
    display: flex;
    justify-content:space-between;
    flex-direction: column;

    width: 80%;
}

.container-note > div {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 0.1rem;
    padding-top: 1rem;
}

.container-note > div > button {
    width: 50%;
    background-color: rgb(255, 255, 120);
    border: transparent;
}
